<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">

  <xacro:property name="white">
    <material name="white">
      <color rgba="1 1 1 1"/>
    </material>
  </xacro:property>

  <xacro:property name="pink">
    <material name="pink">
      <color rgba="1.0 0.5058823529411764 0.7529411764705882 1.0" />
    </material>
  </xacro:property>
  
  <xacro:property name="pastel_blue">
    <material name="pastel_blue">
      <color rgba="0.6352941176470588 0.7490196078431373 0.996078431372549 1.0" />
    </material>
  </xacro:property>
</robot>
