<launch>

    <!-- Generate/Load robot description file -->
    <include file="$(find ur5_vacuum_robot)/launch/description.launch"/>

    <node name="joint_state_publisher_gui" pkg="joint_state_publisher_gui" type="joint_state_publisher_gui" />
    <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher"/>

    <node name="rviz" pkg="rviz" type="rviz" output="screen" args="-d '$(find ur5_vacuum_robot)/rviz/ur5.rviz'" />

</launch>
