<?xml version="1.0" ?>
<robot name="box_g">
  <link name="box_g">
    <visual>
      <geometry>
        <box size="0.002 0.00125 0.0008" />
      </geometry>
    </visual>
    <collision>
      <geometry>
        <box size="0.002 0.00125 0.0008" />
      </geometry>
    </collision>
    <inertial>
      <mass value="0.1" />
      <inertia ixx="0.1" ixy="0.0" ixz="0.0" iyy="0.1" iyz="0.0" izz="0.1" />
    </inertial>
  </link>
  <gazebo reference="box_g">
    <material>Gazebo/Black</material>
  </gazebo>
</robot>

